@media  (max-width:767px){
    .left-side ul{
        font-size: 18px;
    color: white;
    list-style: none;
    display: flex;
        justify-content: end;
    }
  
}
@media (min-width:767px) and (max-width:870px){
    
}
@media  (max-width:992px){
    .left-nav-1{
        display: none;
    }
}